# Ignore compiled python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environments
venv/
.venv/

# Ignore database files
*.sqlite3
*.sqlite3-journal

# VS Code settings
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
